<div class="container" style="padding-top: 30px;">
  <div class="row">

    <div class="col-3">
      <div class="card" style="background-color: #f2f2f2;">
        <div class="card-body">
          <div class="zemlja-item border-bottom" *ngFor="let zemlja of zemlje">
            <a class="zemlja-link" (click)="prikaziLige(zemlja)">{{zemlja.naziv}}</a>
            <div *ngFor="let liga of zemlja.lige" [hidden]="!zemlja.prikazaneLige" class="liga-item">
              <a class="liga-link" (click)="prikaziKluboveIzLige(liga)">{{liga.naziv}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="card" style="background-color: #f2f2f2;">
        <div class="card-body">
          <div style="display: flex;">
            <mat-tab-group mat-align-tabs="center" style="padding-top: 0.185em;" (selectedTabChange)="tabKlik($event)">

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">select_all</mat-icon>
                  Sve utakmice
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">filter_5</mat-icon>
                  Top 5
                </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">live_tv</mat-icon>
                  Uživo
                </ng-template>
              </mat-tab>

            </mat-tab-group>

            <mat-form-field appearance="fill">
              <mat-label>Izaberite datum</mat-label>
              <input matInput [matDatepicker]="picker" [formControl]="date" disabled
                     (dateChange)="dobaviRezultateZaDatum($event)" [(ngModel)]="selektovaniDatum">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="warn" disabled="false"></mat-datepicker>
            </mat-form-field>

          </div>

          <div id="rez" *ngFor="let zemlja of zemljeRezultata">
            <div *ngFor="let liga of ligeRezultata">
              <div *ngFor="let ligaZemlje of zemlja.lige">
                <table class="table table-sm table-hover" *ngIf="liga.id === ligaZemlje.id">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col" [colSpan]="4">{{zemlja.naziv + ' : ' + liga.naziv}}</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let rezultat of fudbalskiRezultati">
                  <tr *ngIf="rezultat.domacin.zemlja.id == zemlja.id && rezultat.liga.id == liga.id">
                    <td>{{(rezultat.vremeOdrzavanjaUtakmice[3] < 10 ? '0' : '') + rezultat.vremeOdrzavanjaUtakmice[3]
                    + ' : ' + (rezultat.vremeOdrzavanjaUtakmice[4] < 10 ? '0' : '') + rezultat.vremeOdrzavanjaUtakmice[4]}}</td>
                    <td>{{rezultat.domacin.naziv}}</td>
                    <td>{{rezultat.goloviDomacin + '  -  ' + rezultat.goloviGost}}</td>
                    <td>{{rezultat.gost.naziv}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
