<mat-toolbar>
  <span>Rezultati sportova</span>
  <span class="example-spacer"></span>
  <span>Prijava</span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="otvoriPrijavu()">
    <mat-icon>login</mat-icon>
  </button>
  <span>Registracija</span>
  <button mat-icon-button class="example-icon">
    <mat-icon>how_to_reg</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" style="{background-color: limegreen}" (selectedTabChange)="tabKlik($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sports_soccer</mat-icon>
      Fudbal
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sports_basketball</mat-icon>
      Košarka
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sports_tennis</mat-icon>
      Tenis
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">sports_volleyball</mat-icon>
      Odbojka
    </ng-template>
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>

